In [1]:
#Final

In [80]:
# Analysis of Life Expectancy Data
# Evan Nadelbach and Joseph Zietowski

import pandas as pd
pd.set_option('display.max_rows', 10)

In [81]:
df = pd.read_csv("data/life_expectancy.csv")
air_pollution = pd.read_csv("data/air_pollution.csv")
bmi = pd.read_csv("data/bmi.csv")
crude_suicide = pd.read_csv("data/crude_suicide.csv")
drinking_water = pd.read_csv("data/drinking_water.csv")
government_expenditure = pd.read_csv("data/government_expenditure.csv")
HIV = pd.read_csv("data/HIV.csv")
homicides = pd.read_csv("data/homicides.csv")
malaria = pd.read_csv("data/malaria.csv")
tuberculosis = pd.read_csv("data/tuberculosis.csv")
under_five_deaths = pd.read_csv("data/under-five_deaths.csv")

df.head()

,Country,Year,Life expectancy at birth (years) (Both sexes),Life expectancy at birth (years) (Male),Life expectancy at birth (years) (Female),Life expectancy at age 60 (years) (Both sexes),Life expectancy at age 60 (years) (Male),Life expectancy at age 60 (years) (Female),Healthy life expectancy (HALE) at birth (years) (Both sexes),Healthy life expectancy (HALE) at birth (years) (Male),Healthy life expectancy (HALE) at birth (years) (Female),Healthy life expectancy (HALE) at age 60 (years) (Both sexes),Healthy life expectancy (HALE) at age 60 (years) (Male),Healthy life expectancy (HALE) at age 60 (years) (Female)
0,Afghanistan,2016,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
1,Afghanistan,2015,63.2,61.8,64.7,16.3,15.5,17.1,53.2,52.6,54.1,11.2,10.8,11.6
2,Afghanistan,2014,63.0,61.7,64.4,16.2,15.4,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2013,62.7,61.5,64.1,16.2,15.4,16.9,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,62.2,60.9,63.6,16.1,15.3,16.8,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df = df[["Country", "Year", "Life expectancy at birth (years) (Both sexes)"]]
df = df.rename(columns={"Life expectancy at birth (years) (Both sexes)": "Life expectancy"})
df

          Country  Year  Life expectancy
0     Afghanistan  2016             62.7
1     Afghanistan  2015             63.2
2     Afghanistan  2014             63.0
3     Afghanistan  2013             62.7
4     Afghanistan  2012             62.2
...           ...   ...              ...
3107     Zimbabwe  2004             45.0
3108     Zimbabwe  2003             44.9
3109     Zimbabwe  2002             45.0
3110     Zimbabwe  2001             45.4
3111     Zimbabwe  2000             45.9

[3112 rows x 3 columns]

In [83]:
df.drop(df[df.Year >= 2017].index, inplace=True)

In [85]:
# air_pollution, bmi, crude_suicide, drinking_water, government_expenditure, HIV, homicides, malaria, tuberculosis, under_five_deaths

air_pollution

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Household air pollution attributable deaths,2016,Both sexes,21141 [17400-24673]
1,Afghanistan,Total,Household air pollution attributable deaths,2016,Male,10678 [8731-12547]
2,Afghanistan,Total,Household air pollution attributable deaths,2016,Female,10462 [8624-12100]
3,Afghanistan,Lower respiratory infections,Household air pollution attributable deaths,2016,Both sexes,7789 [5587-9560]
4,Afghanistan,Lower respiratory infections,Household air pollution attributable deaths,2016,Male,3747 [2698-4611]
...,...,...,...,...,...,...
3235,Zimbabwe,Stroke,Household air pollution attributable deaths,2016,Male,335.3 [274-408.3]
3236,Zimbabwe,Stroke,Household air pollution attributable deaths,2016,Female,615.4 [505.8-741.8]
3237,Zimbabwe,Chronic obstructive pulmonary disease,Household air pollution attributable deaths,2016,Both sexes,762.7 [481.9-1009]
3238,Zimbabwe,Chronic obstructive pulmonary disease,Household air pollution attributable deaths,2016,Male,334.7 [91.5-539.2]
3239,Zimbabwe,Chronic obstructive pulmonary disease,Household air pollution attributable deaths,2016,Female,428 [304.3-524.1]